LOCATE COMP "out[0]" SITE "B2";
IOBUF PORT "out[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "out[1]" SITE "C2";
IOBUF PORT "out[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "reset" SITE "R1";
IOBUF PORT "reset" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

